<div class="client-list">
    <mat-form-field style="width: 100%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    
    <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z8">
    
        <!-- id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
            <td mat-cell *matCellDef="let client"> {{client.id}} </td>
        </ng-container>
    
        <!-- fullname Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
            <td mat-cell *matCellDef="let client"> {{client.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
            <td mat-cell *matCellDef="let client"> {{client.lastName}} </td>
        </ng-container>
    
        <!-- email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let client"> {{client.email}} </td>
        </ng-container>
    
        <!-- mobile Column -->
        <ng-container matColumnDef="mobile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </th>
            <td mat-cell *matCellDef="let client"> {{client.mobile}} </td>
        </ng-container>
    
        <!-- city Column -->
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> City </th>
            <td mat-cell *matCellDef="let client"> {{client.city}} </td>
        </ng-container>
    
        <!-- gender Column -->
        <ng-container matColumnDef="adresse">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Adresse </th>
            <td mat-cell *matCellDef="let client"> {{client.adresse}} </td>
        </ng-container>
    
        
    
        <!-- ispermanent Column -->
        <ng-container matColumnDef="isPermanent">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> isPermanent </th>
            <td mat-cell *matCellDef="let client"> {{client.isPermanent}} </td>
        </ng-container>
    
        <!--Buttons-->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
            <button mat-icon-button (click)="onDelete(row.id)" color="warn"><mat-icon>delete_outline</mat-icon></button>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
    
</div>