<div class="produits-container">
    <div class="produit-list">
        <mat-form-field style="width: 100%;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        
        <table mat-table [dataSource]="datasource" matSort class="mat-elevation-z8">
        
            <!-- id Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
                <td mat-cell *matCellDef="let produit"> {{produit.id}} </td>
            </ng-container>
        
            <!-- fullname Column -->
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let produit"> {{produit.Name}} </td>
            </ng-container>
    
            <ng-container matColumnDef="prixbase">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let produit"> {{produit.prixbase}} </td>
            </ng-container>
        
            <!-- email Column -->
            <ng-container matColumnDef="seuil">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> seuil </th>
                <td mat-cell *matCellDef="let produit"> {{produit.seuil}} </td>
            </ng-container>
        
            <!-- mobile Column -->
            <ng-container matColumnDef="quantiteactuel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> quantiteactuel </th>
                <td mat-cell *matCellDef="let produit"> {{produit.quantiteactuel}} </td>
            </ng-container>
        
            <!-- city Column -->
            <ng-container matColumnDef="unite">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> unité </th>
                <td mat-cell *matCellDef="let produit"> {{produit.unite}} </td>
            </ng-container>
        
            <!-- gender Column -->
            
        
            <!--Buttons-->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
                <button mat-icon-button (click)="onDelete(row.id)" color="warn"><mat-icon>delete_outline</mat-icon></button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
        </table>
        
    </div>
</div>