
.sidebar{
    background-color: #343232;
    display: flex;
    width: 25%;
    height: 90%;
    align-items: stretch;
    position: fixed;
    z-index: 1; 
    top: 20;
    left: 0;
    padding-top: 20px;
    

}
a{
    border: none;
    text-decoration: none;
}
span{
    color: aliceblue;
}
.nav-item{
    margin-top: 20px;
    margin-bottom: 10px;
}
li{
    list-style-type: none;
}
/*
.nested-menu .list-group-item {
    cursor: pointer;
}
.nested-menu .nested {
    list-style-type: none;
}
.nested-menu ul.submenu {
    display: none;
    height: 0;
}
.nested-menu .expand ul.submenu {
    display: block;
    list-style-type: none;
    height: auto;
}
.nested-menu .expand ul.submenu li a {
    padding: 10px;
    display: block;
}

*/