<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        
        <li class="nav-item">
            <a class="nav-link" routerLink="/acceuil" routerLinkActive="active">
                <i class="menu-icon mdi mdi-view-dashboard"></i>
                <span class="menu-title">Acceuil</span>
            </a>
        </li>
        <div class="panel panel-default">
        <li class="nav-item panel-heading">
            <a class="nav-link panel-heading" routerLink="/users" routerLinkActive="active" data-toggle="collapse">
                <i class="menu-icon mdi mdi-buffer"></i>
                <span class="menu-title">Gestion utilisateurs</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link panel-heading" routerLink="/produits" routerLinkActive="active" data-toggle="collapse">
                <i class="menu-icon mdi mdi-buffer"></i>
                <span class="menu-title">Gestion produits</span>
            </a>
        </li>
    </div>
        
        
        
        <li class="nav-item">
            <a class="nav-link" routerLink="/client" routerLinkActive="active">
                <i class="menu-icon mdi mdi-book-multiple"></i>
                <span class="menu-title">Statistique</span>
            </a>
        </li>
    </ul>
</nav>