<div class="row">
    <div class="col-md-4 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-receipt text-danger icon-lg"></i>
                    </div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Les produits</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">{{ countAnnonces.length }}</h3>
                        </div>
                    </div>
                </div>
                <a routerLink="/annonceList" style="text-decoration: none; color: gray;">Voir les détails</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-account-multiple text-warning icon-lg"></i>
                    </div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Les utilisateurs</p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0">{{ countUsers.length }}</h3>
                        </div>
                    </div>
                </div>
                <a routerLink="/usersList" style="text-decoration: none; color: gray;">Voir les détails</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 grid-margin stretch-card">
        <div class="card card-statistics">
            <div class="card-body">
                <div class="clearfix">
                    <div class="float-left">
                        <i class="mdi mdi-book-open-variant text-success icon-lg"></i>
                    </div>
                    <div class="float-right">
                        <p class="mb-0 text-right">Les  </p>
                        <div class="fluid-container">
                            <h3 class="font-weight-medium text-right mb-0"> {{ countArticles.length }} </h3>
                        </div>
                    </div>
                </div>
                <a routerLink="/articleList" style="text-decoration: none; color: gray;">Voir les détails</a>
            </div>
        </div>
    </div>
</div>
