<div class="produits-container">
    <h3>Formulaire d'ajout d'un produit</h3>
    <form [formGroup]="service.form" class="normal-form" (submit)=onSubmit()>
        <mat-grid-list cols="1" rowHeight="300px">
            <mat-grid-tile >
                <div class="controles-container">
                    <input type="hidden" formControlName="id">
                    <mat-form-field>
                        nom du produit<input formControlName="Name" matInput floatPlaceholder="never" >
                        <mat-error>Ce champ est obligatoire.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        nom court du produit<input formControlName="CName" matInput>
                        <mat-error>Ce champ est obligatoire.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        prixbase<input formControlName="prixbase" matInput >
                        <mat-error>Ce champ est obligatoire.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        prixvente<input formControlName="prixvente" matInput >
                    </mat-form-field>
                    <mat-form-field>
                        seuil<input formControlName="seuil" matInput >
                    </mat-form-field>
                    <mat-form-field>
                        unité<input formControlName="unité" matInput >
                    </mat-form-field>
                    <mat-form-field>
                        Quantite initiale<input formControlName="quantiteinitiale" matInput >
                    </mat-form-field>
                    <mat-form-field>
                        Quantite actuel<input formControlName="quantiteactuel" matInput >
                    </mat-form-field>
                </div>
            </mat-grid-tile>
            <mat-grid-tile >
                <div class="controles-container">
                   
                    <div class="button-row">
                        <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                        <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    
    </form>
</div>
