<nav aria-label="breadcrumb" style="background-color: #752E4A;">
    <h1 class="display-5 px-5 pb-3 text-white">Gestion des produits</h1>
</nav>
<div class="produits-container">
    <section fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card fxFlex="700px" fxFlex.xs="100%">
    <mat-card-title>Formulaire d' ajout des produits</mat-card-title>
    <form [formGroup]="service.form" class="normal-form" (submit)=onSubmit()>
        <mat-card-content>
            <input type="hidden" formControlName="id">
                <p>
                    <mat-form-field appearance="outline">
                        nom du produit<input formControlName="Name" matInput floatPlaceholder="never" >
                        <mat-error>Ce champ est obligatoire.</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        nom court du produit<input formControlName="CName" matInput>
                        <mat-error>Ce champ est obligatoire.</mat-error>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        prixbase<input formControlName="prixbase" matInput >
                        <mat-error>Ce champ est obligatoire.</mat-error>
                    </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            prixvente<input formControlName="prixvente" matInput >
                        </mat-form-field>
                        
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            seuil<input formControlName="seuil" matInput >
                        </mat-form-field>
                        
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            unité<input formControlName="unite" matInput >
                        </mat-form-field>
                        
                    </p>
                    <p>
                        <mat-form-field appearance="outline">
                            Quantite initiale<input formControlName="quantiteinitiale" matInput >
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            Quantite actuel<input formControlName="quantiteactuel" matInput >
                        </mat-form-field>
                    </p>
                    
        </mat-card-content>
        <mat-card-actions>
            <div class="button-row">
                <button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
                <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
            </div>
        </mat-card-actions>
    </form>
    </mat-card>
    </section>
    </div>