.controles-container > *{
    width: 100%;
    margin-left: 100px;
}
mat-card-title{
    text-align: left;
    font-weight: 700;
    color: dimgrey;
    font-size: 200;
    margin-left: 160px;
}
mat-form-field{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0px;
    text-align: left;
    width: 70%;
}
form{
  width: 90%;
  padding-top: 40px;
  margin-left: 165px;

}
nav{
    color: white;
    text-align: left;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 200;
    padding-top: 40px;
    padding-left: 60px;
    padding-top: -10px;
    height: 100px;
}
section{
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 40px;
    width: 90%;
    height: 100%;
}
img{
    width: 440px;
    height: 300px;
    margin-right: 190px;
}
